 
/*Header*/
  
/*Section Hero*/


/* Section Our Team*/


/*Section Features*/


/*Section Our Portfolio*/

.title-portfolio{
    margin-bottom: 72px;
}
.portfolio-product{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2e2f42;
        margin-bottom: 8px;

}
.portfolio-product-description{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;  
    
}

.portfolio-item{
    width: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
   
    
}
.portfolio-item p:hover {
    transform: translateY(100%);
}
.portfolio-item p:hover{
transform: translateY(0%);
}


.portfolio-text-container{
    border: 1px solid  #E7E9FC;
    padding: 32px 16px;
    border-top: none;
   
}
.foto-portfolio-container{
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 300px;
}

.text-portfolio-overlay{
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition-property: transform; 
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .text-portfolio-overlay{
    transform: translateY(0);
}

/*Footer*/
.footer-logo .logo-part {
    color: #f4f4fd;
    
}
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo-container {
    margin-right: 120px;
}
.page-footer {
    background-color: #2e2f42;
}

.footer-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.page-footer{
    padding-top: 100px;
    padding-bottom: 100px;
   
}
.footer-icon-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    
    
}
 .footer-icon {
     fill: #f4f4fd;
 }
.footer-icon-item{
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

}
.footer-icon-link{
    display: flex;
    height: 40px;
    width: 40px;
    outline: 1px solid transparent;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    

}
.footer-icon-link:hover,
.footer-icon-link:focus
{
    background-color: #31d0aa;
}

.footer-icons-container{
    margin-right: 80px;
}
.footer-icon-text{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      
}
.footer-form{
    display: flex;
    gap: 24px;
   
}
.footer-input {
    flex-shrink: 0;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
  
}

.footer-input:hover,
.footer-input:focus{
    border-color: #31d0aa;
   
}
.footer-input::placeholder{
    color: #ffffff;
}

.footer-button{
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.footer-button:hover,
.footer-button:focus{
    background-color: #31d0aa;
}

.footer-button-container{
  margin-left: auto;
 
}

.container-footer {
    display: flex;
    align-items: baseline;
}
.footer-button-icon{
    fill: #fff;
    margin-left: 16px;
}

/*Modal-overlay*/

.modal-overlay {

    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
   
}


.modal-overlay.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
    
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    overflow-y: auto;

}
.modal-overlay:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);
}
.button-close-modal {
    position: absolute;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    padding: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close-modal:hover,
.button-close-modal:focus{
    background-color: #404bbf;
    border: none;
}

.icon-button-close{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close-modal:hover > .icon-button-close,
.button-close-modal:focus > .icon-button-close{
    fill: #ffffff
}

.modal-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 360px;
    
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-input-container{
    margin-bottom: 8px;
}
.modal-input-comment-container{
    margin-bottom: 16px;
    width: 360px;
    
}

.input-svg-container{
    position: relative;
    width: 360px;

}
.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.input-name{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name:focus{
    border-color: #4D5AE5;
}
.svg-input{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.input-name:focus-within + .svg-input{
    fill: #4D5AE5;
}
.modal-icon-privacy {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
}
.texrarea-modal{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.texrarea-modal:focus{
    border-color: #4D5AE5;
}
.checkbox-modal{
    margin-bottom: 24px;

}
.user-privacy-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.checkbox-span-privacy{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}
input[type="checkbox"]:checked + label > span{
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}
.privacy-link{
    color: #4d5ae5;
    text-decoration: underline;
}

.button-modal-submit {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding: 16px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
