.hidden{
    display: none;
}
 body {
     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #fff;
 }

 ul,
 ol {
     list-style-type: none;
     margin: 0;
     padding-left: 0;
 }

 h1,
 h2,
 h3,
 p {
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 0;
 }

 a {
     text-decoration: none;
 }

 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 .section {
     padding-top: 120px;
     padding-bottom: 120px;
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }

 svg {
     max-width: 100%;
     height: auto;

 }
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
 /*  common */
 .container {
     max-width: 320px;
     margin: 0 auto;
     padding: 0 16px;
 }
 @media screen and (min-width: 768px){
    .container {
    max-width: 768px;
           
        }
 }
  @media screen and (min-width: 1158px) {
      .container {
        max-width: 1158px;
        padding: 0 15px;

      }
  }


  /* header */
  .page-header {
      border-bottom: 1px solid #e7e9fc;
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .nav-list,.contacts{
    display: none;
  }
  .logo {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;

  }
  .header-logo .logo-part {
      color: #2e2f42;

  }
  .header-logo {
      padding: 16px;
      display: block;
  }
  button{
    cursor: pointer;
  }
  .button-menu{
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .menu-icon{
    display: block;
    fill: #2f2f37;
  }


  @media screen and (min-width: 768px) {
    .button-menu {
       display: none;
        }
    .header-nav {
        display: flex;
                 }
    .nav-list {
        display: flex;
        gap: 40px;
        align-items: center;
                }
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
                                 }
    .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.link-page {
    color: #404bbf;
    position: relative;
}

.link-page::after {
    text-decoration: underline;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts {
      font-style: normal;
      display: block;
      padding: 16px 0 16px 0;
  }
  
  .contacts-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
  }

  .contacts-link {
      display: block;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #434455;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
 .contacts-link:hover,
 .contacts-link:focus,
 .nav-link:hover,
 .nav-link:focus {
     color: #404bbf;
 }
 }

 @media screen and (min-width: 1158px)
{
.header-logo {
        margin-right: 76px;
 }
 .contacts-list {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 40px;
 }
 .contacts-link {
     padding: 24px 0;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     
 }
}
/*mobile menu*/

.mobile-menu{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.mobile-menu.is-open{
opacity: 1;
visibility: visible;
pointer-events: auto;
}
.mobile-menu-container{
 position: relative;
 padding-top: 72px;
 padding-bottom: 40px;
 display: flex;
 flex-direction: column;
 height: 100%;
 }

 .button-menu-close{
   position: absolute;
   top: 24px;
   right: 24px;

   border-radius: 100%;
   fill: #e7e9fc;
   stroke-width: 1px;
    stroke: #2e2f42; 
 }
 .nav-menu-mobile{
  fill: #2e2f42;
 }
.nav-menu-mobile{
margin-bottom: auto;
}
.nav-list-mobile{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
        
      
}
.nav-link-mobile{
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.nav-link-mobile:hover,
.nav-link-mobile:focus
{
    color: #404bbf;
}
.mobile-address{
    margin-bottom: auto;
}
.mobile-contacts-list{
       display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
}
.mobile-contacts-link{
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.mobile-contacts-link:hover,
.mobile-contacts-link:focus{
    color: #4d5ae5;
}

.mobile-icon-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}
.mobile-icon{
    fill: #f4f4fd;
}
.mobile-icon-item {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-icon-link {
    display: flex;
    height: 40px;
    width: 40px;
    outline: 1px solid transparent;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #404BBF;
}

 @media screen and (min-width: 768px){
 .mobile-menu{
 display: none;}
 }
  
 /* Hero */

 .section-order {
     background-color: #2e2f42;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
         url(../images/hero-image-mobile.jpg);
     max-width: 320px;
     max-height: 432px;
     margin: 0 auto;
 }
  .section-order-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
      max-width: 496px;
      margin-bottom: 48px;
      margin-left: auto;
      margin-right: auto;
  }

  .section-button {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
      background: #4d5ae5;
      cursor: pointer;
      height: 56px;
      min-width: 169px;
      padding: 16px 32px;
      align-items: flex-start;
      gap: 10px;
      border: none;
      border-radius: 4px;
      margin: 0 auto;
      display: block;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-button:hover,
  .section-button:focus {

      background-color: #404bbf;
  }

@media screen and (max-width: 768px) and (min-resolution: 192dpi){
    .section-order{
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image-mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .section-order{
       max-width: 768px;
       max-height: 436px;

        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-image-tablet.jpg);
    }
        .section-order-title {
            font-size: 56px;
            line-height: 1.07;
        }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi){
    .section-order{ background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-image-tablet@2x.jpg);

}
}
@media screen and (min-width: 1200px) {
  .section-order{
    max-width: 1440px;
    max-height: 600px;

    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/people-office.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
    .section-order{
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/people-office@2x.jpg);
    }
}


 /* Features */
 .features-icon-container{
    display: none;
 }
 .section-features{
    padding-top: 96px;
    padding-bottom: 96px;
 }
.features-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.features-name{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}
.features-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

@media screen and (min-width: 768px){
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }
}


@media screen and (min-width: 1158px){

    .features-list {   
    flex-wrap: nowrap;
    }
   
    .features-item {
    width: calc((100% - 72px) / 4);
        }

    .features-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
     }

   .features-text {
    font-weight: 400;   
   }
   .features-icon-container {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 264px;
       height: 112px;
       border: 1px solid #8e8f99;
       border-radius: 4px;
       background-color: #f4f4fd;
       text-align: center;
       margin-bottom: 8px;

   }
}

/* Our Team  */
 .section-our-team{
    max-width: 264px;
    margin: 0 auto;
    background: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
 }

 .section-title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     text-transform: capitalize;
     color: #2e2f42;
     margin-bottom: 72px;
    
 }
 .name-team-title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     margin-bottom: 8px;

 }
 .section-team-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
 }
 .section-team-item {
     border-radius: 0px 0px 4px 4px;
     background: var(--WHITE, #FFF);
     box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }
 .team-text {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-align: center;
     color: #434455;
 }
 .team-name-text-container {
     padding: 32px 16px;
 }

 .team-icon-list {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    margin-top: 8px;

 }
 .team-icon-link {
     display: flex;
     background-color: #4d5ae5;
     border-radius: 50%;
     align-items: center;
     justify-content: center;
     height: 100%;
     width: 100%;
     cursor: pointer;
     transition-property: background-color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .team-icon-link:hover,
 .team-icon-link:focus {
     background-color: #404bbf;
 }

 .team-icon-item {
     height: 40px;
     width: 40px;
 }

 .team-icon {
     fill: #f4f4fd;
 }

 @media screen and (min-width: 768px) {
    .section-our-team{
        max-width: 552px;
    }
         .section-team-list {
             flex-direction: row;
             flex-wrap: wrap;
             column-gap: 24px;
         }
    
         .section-team-item{
             width: calc((100% - 24px) / 2);
         }
 }

 @media screen and (min-width: 1158px) {
    
    .section-our-team{
        max-width: 1128px;
    }
    .section-team-list {
    flex-wrap: nowrap;
        }
     .section-team-item{
        width: calc((100% - 72px) / 4);
     }
 }

 /* Our Portfolio */
.portfolio-section{
    padding-top: 96px;
    padding-bottom: 96px;
}
 .title-portfolio {
     margin-bottom: 96px;
 }
 .portfolio-product {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     text-align: left;
     color: #2e2f42;
     margin-bottom: 8px;

 }
 .portfolio-product-description {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-align: left;
     color: #434455;
 }
 .portfolio-list {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 48px;
 }
 .portfolio-item {
     transition-property: box-shadow;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 .portfolio-item:hover,
 .portfolio-item:focus {
     box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
         0 1px 1px 0 rgba(46, 47, 66, 0.16),
         0 1px 6px 0 rgba(46, 47, 66, 0.08);
     background: #fff;
 }
 .portfolio-item p:hover {
     transform: translateY(100%);
 }

 .portfolio-item p:hover {
     transform: translateY(0%);
 }
 .portfolio-text-container {
     border: 1px solid #E7E9FC;
     padding: 32px 16px;
     border-top: none;
     width: 288px;
 }

 .foto-portfolio-container {
     position: relative;
     overflow: hidden;
     width: 288px;
     height: 280px;
     margin-bottom: 0;
 }
 .text-portfolio-overlay {
     color: #f4f4fd;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     padding: 40px 32px;
     transform: translateY(100%);
     transition-property: transform;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .portfolio-item:hover .text-portfolio-overlay {
     transform: translateY(0);
 }

  @media screen and (min-width: 768px) {

    .portfolio-list{
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 24px;
        }
    
    .section-team-item {
            width: calc((100% - 24px) / 2);
        }
  }